* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
/* number */

#number {
    position: relative;
    margin-top: -70px;
    z-index: 1;
}

#number .counter_number {
    background-color: #fff;
    padding: 40px 20px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    border-radius: 6px;
    text-align: center;
    transition: 0.3s ease;
}

#number .counter_number:hover {
    transform: translateY(-4px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: 0.3s ease;
}

#number .counter_number span i {
    background: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}

#number .counter_number .number__time {
    font-size: 46px;
    font-weight: 600;
    color: #232220;
}

#number .counter_number .number__text {
    color: rgba(22, 28, 45, 0.7);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
}


@media screen and (max-width: 800px) {
    #number {
        margin-top: 0;
    }
}

@media screen and (max-width: 680px) {
    #number .counter_number {
        text-align: center;
        padding: 30px 10px;
    }

    #number .counter_number .number__time {
        font-size: 2em;
    }
}

@media screen and (max-width: 480px) {
    #number .counter_number .number__text {
        font-size: 0.9em;
    }
}
/* End Number */


/* videos */

#videos .videos__content {
    background: #fff;
}


#videos .video__history {
    background: url("../image/banner3.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    align-items: center;
    display: grid;
    z-index: 1;
    min-height: 500px;
    border-radius: 6px;
}

#videos .video__history::before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
}

#videos .play-icon {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}

#videos span.fa {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    line-height: 83px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: rippler 1s linear infinite;
    color: #ff6600;
    border: transparent;
    background: #fff;
}

@keyframes rippler {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}

#videos span.fa:hover {
    border: transparent;
    color: #fff;
    background: #ff6600;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
}

#small-dialog1 {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

#small-dialog1 iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    #videos .video__history {
        min-height: 400px;
    }
}

@media screen and (max-width: 600px) {
    #videos .video__history {
        min-height: 350px;
    }
}

@media screen and (max-width: 480px) {
    #videos .video__history {
        min-height: 300px;
    }
}
/* End Videos */

/* Blog */

#blog {
    background: #f7f7f7;
}

#blog .blog_title h6 {
    font-size: 20px;
    font-weight: 400;
    color: #ff6600;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: 'Pacifico', cursive;
}

#blog .blog_title h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

#blog .card {
    position: relative;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
    border-radius: 0;
    background-clip: border-box;
}

#blog .card_header {
    border: none;
}

#blog .blog_image {
    border-radius: 8px;
}

#blog .blog-view {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#blog .blog-view a {
    text-decoration: none;
}

#blog .blog-receipe {
    background: #ff6600;
    color: #fff;
    background: #ff6600;
    color: #fff;
    padding: 3px 10px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 0.2px;
}

#blog .blog-time {
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

#blog .blog-about {
    display: block;
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
    color: #232220;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}

#blog p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

#blog .card_footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

#blog .card-meta {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}

#blog .card-meta a {
    text-decoration: none;
    color: #232220;
    font-weight: 700;
    letter-spacing: 0.5px;
}

#blog a.avatar {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

#blog .card-meta img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

#blog a {
    text-decoration: none;
}

#blog a.readmore {
    font-size: 16px;
    color: #232220;
    font-weight: 700;
    letter-spacing: 0.4px;
    opacity: 0.8;
    text-transform: capitalize;
}

#blog a.readmore:hover {
    color: #ff6600;
}

@media screen and (max-width: 800px) {
    #blog .blog_title h3 {
        font-size: 32px;
        line-height: 40px;
    }

    #blog .blog-about {
        font-size: 20px;
        line-height: 30px;
    }

}

@media screen and (max-width: 600px) {
    #blog .blog_title h3 {
        font-size: 30px;
        line-height: 38px;
    }

    #blog .blog_title h6 {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    #blog .blog_title h3 {
        font-size: 28px;
        line-height: 34px;
    }
}


/* End Blog */

/* testimonials */

#testimonials {
    display: block;
}

#testimonials .test_title h6 {
    color: #ff6600;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
}

#testimonials .test_title h3 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
}

#testimonials .testimonial-content {
    max-width: 700px;
    margin: auto;
}

#testimonials a {
    text-decoration: none;
}

#testimonials .test-img {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

#testimonials blockquote q {
    font-size: 24px;
    line-height: 36px;
    color: #232220;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}

#testimonials blockquote q::before {
    display: block;
    font-family: initial;
    color: #ff6600;
    font-size: 50px;
}

#testimonials blockquote q ::after {
    font-size: 50px;
    color: #ff6600;
    display: inline-block;
    font-family: initial;
    margin-right: 10px;
}

.text-p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

#testimonials .test-avatar h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

#testimonials .test-avatar p {
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0;
    opacity: 0.8;
    margin-top: 4px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6600;
}


@media screen and (max-width: 800px) {
    #testimonials .test_title h3 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .test_title h6 {
        font-size: 16px;
    }

    #testimonials .test_title h3 {
        font-size: 30px;
        line-height: 38px;
    }

    #testimonials blockquote q {
        font-size: 24px;
        line-height: 30px;
    }

    #testimonials .text-p {
        font-size: 16px;
        line-height: 26px;
    }

    #testimonials .test-aucho {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 480px) {
    #testimonials .test_title h3 {
        font-size: 26px;
        line-height: 32px;
    }

    #testimonials blockquote q {
        font-size: 22px;
        line-height: 28px;
    }

}
/* End Testimonails */

/* Footer */

#footer {
    background: black;
}

#footer a {
    text-decoration: none;
}

#footer a.navar-brand {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    padding: 0;
}

#footer a:hover {
    color: #ff6600;
}

#footer p {
    color: #c2d0da;
    font-size: 16px;
    line-height: 26px;
}

#footer .footer_icon a {
    margin-right: 10px;
    color: #f66000;
    display: inline-block;
    text-align: center;
    font-size: 26px;
    background: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: 0.3s;
}

#footer .footer_icon a:hover {
    transition: 0.3s;
    color: #fff;
    background: #ff6600;
}

#footer ul {
    text-decoration: none;
}

#footer li {
    list-style: none;
}

#footer ul h5 {
    color: #fff;
    font-size: 22px;
    line-height: 18px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
}

#footer ul li a {
    color: #a5a2a1;
    font-size: 18px;
    line-height: 38px;

}

#footer h5 {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    line-height: 17px;
    position: relative;
    margin-bottom: 28px;
}

#footer input {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: #fff;
    background: #fff;
    border-radius: 10px;
}

#footer .btn-style {
    background: #f66000;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
    border: 2px solid transparent;
}

@media screen and (max-width: 480px) {
    #footer a.navar-brand {
        font-size: 26px;
    }
}

@media screen and (max-width: 800px) {
    #footer .footer_icon {
        text-align: center;
    }

    #footer h5.footer_menu {
        margin-bottom: 20px;
        font-size: 20px;
    }
}
/* End Footer */

/* Copyright */

.copyright {
    padding: 20px 0;
    background: black;
    border-top: 1px solid rgb(255 255 255 / 5%);
}

.copyright .coppy-text {
    color: #f7f7f7;
    align-items: center;
    font-size: 18px;
}

.copyright .coppy-text a {
    color: #f66000;
    text-decoration: none;
}

.copyright ul li {
    list-style: none;
}

.copyright a {
    color: #a5a2a1;
    text-decoration: none;
}

.copyright a:hover {
    color: #f66000;
}


.copyright a.backTotop {
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #f66000;
    padding: 0;
    line-height: 50px;
    border-radius: 35px;
    transition: all 0.2s ease-out;
    opacity: 1;
    text-align: center;
    visibility: hidden;
    z-index: 1;

}

.copyright a.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.copyright a.cd-top--fade-out {
    opacity: 0.8;
}

@media screen and (max-width: 800px) {
    .copyright .coppy-text {
        text-align: center;
    }
}

/* End Copyright */
